<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ReadJson</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- listener -->
  <listener>
  	<listener-class>co.nuoya.JsonDB.listener.RequestListnerTest</listener-class>
  </listener>
  <listener>
  	<listener-class>co.nuoya.JsonDB.listener.SessionListenerTest</listener-class>
  </listener>
    <listener>
  	<listener-class>co.nuoya.JsonDB.listener.ServletContextListenerTest</listener-class>
  </listener>
  
  <!-- filter -->
  <filter>
  	<filter-name>FilterTest</filter-name>
  	<filter-class>co.nuoya.JsonDB.filter.FilterTest</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FilterTest</filter-name>
  	<url-pattern>/ServletTest</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>co.nuoya.JsonDB.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>CharacterEncoding</param-name>
  		<param-value>gb2312</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- servlet -->
  <servlet>
  	<servlet-name>ServletTest</servlet-name>
  	<servlet-class>co.nuoya.JsonDB.action.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletTest</servlet-name>
  	<url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WriteJson</servlet-name>
  	<servlet-class>co.nuoya.JsonDB.action.WriteJson</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WriteJson</servlet-name>
  	<url-pattern>/WriteJson</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ReadJson</servlet-name>
  	<servlet-class>co.nuoya.JsonDB.action.ReadJson</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReadJson</servlet-name>
  	<url-pattern>/ReadJson</url-pattern>
  </servlet-mapping>
</web-app>